h1{ 
    color:#D11C3B;
}
.icecream1{
    background-color: #3CFD4C; 
}
.icecream2{
    background-color: #393FF1; 
}
#heading{
    font-size: 100px;
}
img:hover{
    background-color: #7575C4;

}